<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.dao.DevicesDao">

	<resultMap id="Devices" type="com.example.dto.DevicesDto">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>

	<insert id="insertDevicesDto"
		parameterType="com.example.dto.DevicesDto">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select
			NVL(max(id)+1,1000) from devices
		</selectKey>
		insert into devices(id, name) values(#{id}, #{name})
	</insert>

	<select id="selectAllDevices" resultMap="Devices">
		select *
		from devices
	</select>

	<select id="selectMaxRate"
		resultType="com.example.vo.DevicesVo">
		select year, device as device_id, rate, name as device_name
		from (
		select year, device,
		rate, ROW_NUMBER() OVER(PARTITION
		BY year
		ORDER BY rate desc) as ridx
		from state_inf
		) as stat, Devices dev
		where
		ridx = 1 
		and stat.device = dev.id
	</select>

</mapper>
