<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.StateInfDao">

	<resultMap id="StateInf" type="com.example.dto.StateInfDto">
		<id property="id" column="id" />
		<result property="year" column="year" />
		<result property="device" column="device" />
		<result property="rate" column="rate" />
		<result property="util" column="util" />
	</resultMap>

	<select id="selectMaxRateByYear" resultType="com.example.vo.StateInfVo"
		parameterType="int">
		select name as
		device_name, year, rate
		from (
		select d.name, s.year,
		s.rate, s.id,
		ROW_NUMBER() OVER(order by s.rate desc)
		as ridx
		from
		(
		select year,
		rate,id,device
		from state_inf
		where year=#{year}
		) s,
		devices d
		where
		s.device = d.id
		) as t1
		where ridx=1
	</select>

	<select id="selectMaxRateByDeviceId"
		resultType="com.example.vo.StateInfVo" parameterType="int">
		select name as
		device_name, year, rate
		from (
		select d.name, s.year,
		s.rate, s.id,
		ROW_NUMBER() OVER(order by s.rate desc)
		as ridx
		from
		(
		select year,
		rate,id,device
		from state_inf
		where device=#{device}
		) s,
		devices d
		where
		s.device = d.id
		) as t1
		where ridx=1
	</select>


	<!-- todo : key값 변경. -->
	<insert id="insertStateInfDto"
		parameterType="com.example.dto.StateInfDto">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select
			NVL(max(id)+1,0) from state_inf
		</selectKey>
		insert into state_inf(id, year, device, rate, util) values(#{id},
		#{year}, #{device}, #{rate}, #{util})
	</insert>





</mapper>